# Terraform
.terraform
.terraform.lock.hcl
*.tfvars
*.tfs*

# Secret
.env

# Development purpose
utils

# Dependencies
node_modules
package-lock.json
.husky/_
__pycache__
ansible/inventory/cluster/hosts.yaml

# Ansible
inventory
