project_id = "{{ project_id }}"
region     = "{{ region }}"
zone       = "{{ zone }}"
vm_name    = "{{ vm_name }}"
machine_type = "{{ machine_type }}"
image       = "{{ image }}"
disk_type   = "{{ disk_type }}"
disk_size   = {{ disk_size }}
ssh_keys    = "{{ ssh_keys }}"
node_count  = {{ node_count }}
